* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: monospace;
}

main {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 100%;
    max-width: 30rem;
    height: 100vh;
}

section {
    background-color: #1a1a2e;
    width: 100%;
    height: 100rem;
}

.menu {
    padding: 1rem;
}